{% extends "base.html" %}

{% block title %}Italian Openwater Tour - Current Race Relay Results{% endblock %}

{% block body %}

<style type="text/css">
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		font-size: 16px;
	}

	body {
		font-family: Arial, sans-serif;
	}

	table {
		table-layout: auto;
		word-wrap: break-word;
		width: 100%;
		font-size: 14px;
	}

	th, td {
		vertical-align: middle;
		text-align: center;
		padding: 8px;
	}

	thead {
		background-color: #202020;
		color: white;
		position: sticky;
		top: 0;
		z-index: 10;
	}

	#scroll-container {
		flex: 1 1 auto;
		overflow-y: auto;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 20px !important;
		}

		.col-md-3, .col-lg-12 {
			padding-left: 8px;
			padding-right: 8px;
		}

		.table {
			font-size: 12px;
		}

		.table img {
			width: 50px !important;
		}

		td h2, td p {
			font-size: 14px !important;
		}

		select.form-control, button.btn {
			width: 100%;
			font-size: 14px;
		}

		thead th {
			font-size: 12px;
			white-space: nowrap;
		}

		td.text-left {
			text-align: left !important;
		}

		.table th:nth-child(2),
		.table td:nth-child(2) {
			display: none;
		}

		@media (max-width: 768px) {
  .nome-atleta {
    display: block !important;
    visibility: visible !important;
    white-space: normal !important;
    overflow: visible !important;
    word-break: break-word !important;
  }
}
	}
</style>



<div class="container-fluid p-0" style="height: 100vh; display: flex; flex-direction: column;">

	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 style="font-size: 28px !important;">
				<span style="color: #0a6478;">{{ Gara.A_nome_evento|upper }} - {{ Gara.nome|upper }}</span>
			</h1>
		</div>
	</div>

	<div class="row justify-content-center align-items-end my-4">
		<div class="col-12 col-md-3 mb-3 text-center">
			<label class="form-label"><strong>Sesso</strong></label>
			<select id="filtro-sesso" class="form-control">
				<option value="tutti">Tutti</option>
				<option value="M">Maschio</option>
				<option value="F">Femmina</option>
			</select>
		</div>
	
		<div class="col-12 col-md-3 mb-3 text-center">
			<label class="form-label"><strong>Categoria</strong></label>
			<select id="filtro-categoria" class="form-control">
				<option value="tutti">Tutte</option>
				<option value="Natural">Natural</option>
                <option value="Over30">Over 30</option>
				<option value="Over40">Over 40</option>
				<option value="Over50">Over 50</option>
                <option value="Over60">Over 60</option>
			</select>
		</div>
	
		<div class="col-12 col-md-3 mb-3 text-center">
			<label class="form-label d-none d-md-block"><strong>&nbsp;</strong></label>
			<button id="downloadPDF" class="btn btn-primary w-100">Scarica PDF</button>
		</div>
	</div>
	
	
	<div class="row flex-grow-1 overflow-hidden">
		<div class="col-lg-12">
			<div id="scroll-container">
				<table class="table table-striped table-hover text-center">
					<thead>
						<tr>
							<th style="width: 5%;"></th>
							<th style="width: 1%;"></th>
							<th style="width: 40%;">Tempo</th>
							
							<th class="col-classifica" style="width: 5%;">Classifica</th>
							<th class="col-natural" style="width: 5%;">Natural</th>
                            <th class="col-over30" style="width: 5%;">Over 30</th>
							<th class="col-over40" style="width: 5%;">Over 40</th>
							<th class="col-over50" style="width: 5%;">Over 50</th>
                            <th class="col-over60" style="width: 5%;">Over 60</th>
							
							
						</tr>
					</thead>

					<tbody id="body-tabella">
						{% for risultato in RisultatiGara %}
						<tr
							class="
								riga-risultato 
								sesso-{{ risultato.rg_sesso }}
								{% if risultato.rg_posizione_crudo_per_sesso %}cat-natural{% endif %}

								{% if risultato.rg_posizione_over_30_per_sesso %}cat-over30{% endif %}
								{% if risultato.rg_posizione_over_40_per_sesso %}cat-over40{% endif %}
								{% if risultato.rg_posizione_over_50_per_sesso %}cat-over50{% endif %}
								{% if risultato.rg_posizione_over_60_per_sesso %}cat-over60{% endif %}
							"
						>
							<td>
								<img 
									src="{{ risultato.foto_profilo }}" 
									width="100" 
									class="rounded-circle"
									style="border: solid; color: {{ risultato.colore }};"
								>
							</td>
					
							<td class="text-left">
								
							</td>
							
							<td>
<a 
									{% if risultato.s_nome_squadra != "Special Guest" %} 
										href="{{ AppPath }}Share/SharedUserRaceResult/{{ risultato.rg_id }}"
									{% endif %} 
									target="_blank"
								>
									<h2>
										<b style="color: {{ risultato.colore }};">
											{{ risultato.rg_posizione }}° {{ risultato.rg_nome|capitalize }} {{ risultato.rg_cognome|capitalize }}
										</b>
									</h2>
								</a>
								{% if risultato.s_nome_squadra %}
									{% if risultato.foto_squadra %}
										<img 
											src="{{ risultato.foto_squadra }}" 
											width="30" 
											class="rounded-circle"
											style="border: solid; color: #343a40;"
										>
									{% endif %}
									<b style="color: #343a40;">{{ risultato.s_nome_squadra }}</b>
								{% endif %}


								<h2><b>{{ risultato.rg_racetime }}</b></h2>
								<p class="mb-0">{{ risultato.rg_distacco }}</p>
							</td>
					
							<td class="col-classifica" style="color: {{ risultato.colore }};">
								<h2><b>{{ risultato.rg_posizione_sesso_per_tipo }}°</b></h2>
							</td>
							<td class="col-natural" style="color: {{ risultato.colore }};">
								<h2><b>{{ risultato.rg_posizione_crudo_per_sesso }}°</b></h2>
							</td>
                            <td class="col-over30" style="color: {{ risultato.colore }};">
                                <h2><b>{{ risultato.rg_posizione_over_30_per_sesso }}°</b></h2>
                            </td>
							<td class="col-over40" style="color: {{ risultato.colore }};">
								<h2><b>{{ risultato.rg_posizione_over_40_per_sesso }}°</b></h2>
							</td>
							<td class="col-over50" style="color: {{ risultato.colore }};">
								<h2><b>{{ risultato.rg_posizione_over_50_per_sesso }}°</b></h2>
							</td>
                            <td class="col-over60" style="color: {{ risultato.colore }};">
                                <h2><b>{{ risultato.rg_posizione_over_60_per_sesso }}°</b></h2>
                            </td>
						</tr>
						{% endfor %}
					</tbody>
					
				</table>
			</div>
		</div>
	</div>


</div>

{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () 
	{
		$('body').removeClass('bg-sfondo-login');
		$('#google_translate_element').remove();

		var coefficiente_tempo_scroll = 1;
		var totale_risultati = $('.riga-risultato').length;
		var tempo_scroll = totale_risultati * coefficiente_tempo_scroll;
		var tempo_stop_header = 10000;
		var autoscroll = {{ autoscroll }};

		if (autoscroll == 1) 
		{
			setTimeout(function () 
			{
				startContinuousScroll();
			}, tempo_stop_header);
		}

		function startContinuousScroll() 
		{
			let scrollSpeed = 1;
			let scrolling = true;

			function continuousScroll() 
			{
				if (!scrolling) return;
					window.scrollBy(0, scrollSpeed);

				if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) 
					window.scrollTo(0, 0);			

				requestAnimationFrame(continuousScroll);
			}

			continuousScroll();
		}

		$('#filtro-sesso, #filtro-categoria').on('change', function () {
			var sesso = $('#filtro-sesso').val();
			var categoria = $('#filtro-categoria').val();

			var risultati_visibili = 0;

			$('.col-classifica, .col-natural, .col-over30, .col-over40, .col-over50, .col-over60').hide();

			if (categoria === 'Natural') 
				$('.col-natural').show(); 
            else if (categoria === 'Over30') 
                $('.col-over30').show();
			else if (categoria === 'Over40') 
				$('.col-over40').show();
			else if (categoria === 'Over50') 
				$('.col-over50').show();
            else if (categoria === 'Over60') 
				$('.col-over60').show();
			else if (categoria === 'tutti') 
				$('.col-classifica, .col-natural, .col-over30, .col-over40, .col-over50, .col-over60').show();

			$('.riga-risultato').each(function () 
			{
				var match_sesso = (sesso === 'tutti' || $(this).hasClass('sesso-' + sesso));
				var match_categoria = 
					(
						categoria === 'tutti' || 
						(categoria === 'Natural' && $(this).hasClass('cat-natural')) ||
                        (categoria === 'Over30' && $(this).hasClass('cat-over30')) ||
						(categoria === 'Over40' && $(this).hasClass('cat-over40')) ||
						(categoria === 'Over50' && $(this).hasClass('cat-over50')) ||
                        (categoria === 'Over60' && $(this).hasClass('cat-over60'))
					)
				;

				if (match_sesso && match_categoria) {
					$(this).show();
					risultati_visibili++;
				} else 
					$(this).hide();
			});

			$('#risultati-contatore').text(risultati_visibili + ' risultati visibili');
		});



		$('#downloadPDF').click(function () 
		{
			var sesso = $('#filtro-sesso').val();
			var categoria = $('#filtro-categoria').val();

			var nomeSesso = (sesso === 'M') ? 'Maschi' : (sesso === 'F' ? 'Femmine' : 'Tutti');
			var nomeCategoria = (categoria === 'Natural') ? 'Natural' :
                                (categoria === 'Over30') ? 'Over 30' :
								(categoria === 'Over40') ? 'Over 40' :
                                (categoria === 'Over50') ? 'Over 50' :
								(categoria === 'Over60') ? 'Over 60' : 'Tutte';

			const { jsPDF } = window.jspdf;
			const doc = new jsPDF('p', 'mm', 'a4');

			// Logo
			const logoUrl = '{{AppPath}}img/logo.jpeg';
			doc.addImage(logoUrl, 'JPEG', 170, 10, 30, 30);

			doc.setFontSize(16);
			doc.text('RISULTATI GARA', 14, 15);
			doc.setFontSize(12);
			doc.text("Evento: {{ Gara.A_nome_evento|upper }} - {{ Gara.nome|upper }}", 14, 25);
			doc.text("Sesso: " + nomeSesso + " | Categoria: " + nomeCategoria, 14, 32);

			const tableColumn = [ "Atleta", "Tempo", "Classifica", "Natural", "Over 30", "Over 40", "Over 50", "Over 60"];
			const tableRows = [];

			$('#body-tabella .riga-risultato:visible').each(function () 
			{
				const nomeCompleto = $(this).find('td:nth-child(2) h2').text().trim();
				const nomePulito = nomeCompleto.replace(/^\d+°\s*/, '');
				const tempo = $(this).find('td:nth-child(3) h2').text();
				const classifica = $(this).find('td:nth-child(4) h2').text();
				const natural = $(this).find('td:nth-child(5) h2').text();
				const over30 = $(this).find('td:nth-child(6) h2').text();
				const over40 = $(this).find('td:nth-child(7) h2').text();
				const over50 = $(this).find('td:nth-child(8) h2').text();
				const over60 = $(this).find('td:nth-child(9) h2').text();

				tableRows.push([nomePulito, tempo, classifica, natural, over30, over40, over50, over60]);
			});

			doc.autoTable({
				head: [tableColumn],
				body: tableRows,
				startY: 40,
				styles: {
					halign: 'left',
					fontSize: 9,
					cellPadding: 1.5,
					lineHeight: 1.2,
					overflow: 'linebreak'
				},
				columnStyles: {
					0: { cellWidth: 55 }, // Atleta
					1: { cellWidth: 25 }, // Tempo
					2: { cellWidth: 25 }, // Classifica
					3: { cellWidth: 15 }, // Natural
					4: { cellWidth: 15 }, // Over 30
					5: { cellWidth: 15 }, // Over 40
					6: { cellWidth: 15 }, // Over 50
					7: { cellWidth: 15 }  // Over 60
				},
				headStyles: {
					fillColor: [32, 32, 32],
					textColor: [255, 255, 255],
					fontSize: 10
				}
			});

			doc.save('risultati_gara_' + nomeSesso + '_' + nomeCategoria + '.pdf');
		});

	});
</script>
{% endblock %}