{% extends "base.html" %}

{% block title %}Italian Openwater Tour - Current Race Results{% endblock %}

{% block body %}

<style type="text/css">

	body
	{
		font-size: 18px;
	}

	table
	{
	    table-layout: fixed;
	    word-wrap: break-word;
	}

	thead
	{
		position: fixed !important;
		width: 95% !important;
		height: 100px !important;
		top: 30px !important;
		left: 2.5%;
	}

	th
	{
		height: 50px !important;
		vertical-align: center !important;
	}

	tbody
	{
		position: fixed !important;
	    width: 95% !important;
		height: 75vh !important;
		left: 2.5%;
	    top: 100px !important;
		overflow-y: overlay !important;
	}
</style>

<div class="container">

	<div class="row">
	    <div class="col-lg-12 text-center">
	    	<h4>
	    		<span style="color: #0a6478;">{{ Gara.A_nome_evento|upper }} - {{ Gara.nome|upper }}</span>
	    	</h4>
		</div>
	</div>

	<div class="row">
	    <div class="col-lg-12 table-responsive">
	        <table width="100%" class="table table-striped table-hover text-center" style="vertical-align:center !important;">
	        	<thead id="HeaderTabella">
	        	    <tr class="text-white" style="background-color: #202020;">
						<th style="width: 20rem !important; height: 30px; vertical-align: middle;">Arrivo</th>
	        	        <th style="width: 50rem !important; height: 30px; vertical-align: middle;">Atleta</th>
	        		    <th style="width: 20rem !important; height: 30px; vertical-align: middle;">Tempo</th>
	        	        <th style="width: 5rem !important; height: 30px; vertical-align: middle;">Classifiche</th>
	         	        <th style="width: 5rem !important; height: 30px; vertical-align: middle;"></th>
	        	        <th style="width: 5rem !important; height: 30px; vertical-align: middle;"></th>
	        	        <th style="width: 5rem !important; height: 30px; vertical-align: middle;"></th>
	        	    </tr>
	        	</thead>
	            <tbody id="BodyTabella">
	            	{% for risultato in RisultatiGara %}
	            		<tr class="RigaRisultato dimensione-testi-cellulare">
							<td style="width: 20rem !important;">
								<span>
									<img
										src="{{ risultato.foto_profilo }}"
										width="100"
										class="rounded-circle"
										style="border: solid; color: {{ risultato.colore }};"
									>
								</span>
							</td>
							<td style="width: 50rem !important; vertical-align: middle;" class="text-left">
	            				
	            				<span>
	            					<a 
	            						{% if risultato.s_nome_squadra != "Special Guest" %} 
	            							href="{{ AppPath }}Share/SharedUserRaceResult/{{ risultato.rg_id }}"
	            						{% endif %} 
	            						target="_blank"
	            					>
	            						<h2>
	            							<b style="color: {{ risultato.colore }};">{{ risultato.rg_posizione }}° {{ risultato.rg_nome|capitalize }} {{ risultato.rg_cognome|capitalize }}</b>
	            						</h2>
	            					</a>
	            				</span>
								{% if risultato.s_nome_squadra != '' %}
	            					{% if risultato.foto_squadra != '' %}
	                    				<span>
	                    					<img
	                    						src="{{ risultato.foto_squadra }}"
	                    						width="30"
	                    						class="rounded-circle"
	                    						style="border: solid; color: #343a40;text-align: left;"
	                    					>
	                    				</span>
	                    			{% endif %}
	                    				<span>
			                				<b style="color: #343a40;">{{ risultato.s_nome_squadra }}</b>
										</span>
	                			{% endif %}
	            			</td>
	            			<td style="width: 20rem !important;vertical-align: middle;">
	            				<h2><b>{{ risultato.rg_racetime }}</b></h2>
	            				<p style="margin-top: 0px;margin-bottom: 0px;">{{ risultato.rg_distacco }}</p>
	            			</td>
	            		
	            			<td style="width: 5rem !important;vertical-align: middle;color: {{ risultato.colore }};">
	            				<h2>
	            					<b>
	            						{% if risultato.rg_posizione_sesso_per_tipo == 0 %}
	            							-
	            						{% else %}
	            							{{ risultato.rg_posizione_sesso_per_tipo }}°
	            						{% endif %}
	            					</b>
	            				</h2>
	            			</td>
	            		
	            			<td style="width: 5rem !important;vertical-align: middle;color: {{ risultato.colore }};">
	            				<h2>
	            					<b>
	            						{% if risultato.rg_posizione_crudo_per_sesso == 0 %}
	            							-
	            						{% else %}
	            							<div style="font-size: .5em;">Nat</div>
	            							{{ risultato.rg_posizione_crudo_per_sesso }}° <br>
	            						{% endif %}
	            					</b>
	            				</h2>
	            			</td>
	            			
	            			<td style="width: 5rem !important;vertical-align: middle;color: {{ risultato.colore }};">
	            				<h2>
	            					<b>
	            						{% if risultato.rg_posizione_over_40_per_sesso == 0 %}
	            							-
	            						{% else %}
	            							<div style="font-size: .5em;">O.40</div>
	            							{{ risultato.rg_posizione_over_40_per_sesso }}°
	            						{% endif %}
	            					</b>
	            				</h2>
	            			</td>

	            			<td style="width: 5rem !important;vertical-align: middle;color: {{ risultato.colore }};">
	            				<h2>
	            					<b>
	            						{% if risultato.rg_posizione_over_50_per_sesso == 0 %}
	            							-
	            						{% else %}
	            							<div style="font-size: .5em;">O.50</div>
	            							{{ risultato.rg_posizione_over_50_per_sesso }}°
	            						{% endif %}
	            					</b>
	            				</h2>
	            			</td>
	            		</tr>
	            	{% endfor %}
	            </tbody>
	        </table>
	        <!-- /.table-responsive -->
	    </div>
	    <!-- /.col-lg-12 -->
	</div>

</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function()
{
	$('body').removeClass('bg-sfondo-login');
	$('#google_translate_element').remove();

	var coefficiente_tempo_scroll = 1200; // Più alto = più lento
	var totale_risultati = $('.RigaRisultato').length;
	var tempo_scroll = totale_risultati * coefficiente_tempo_scroll;
	var tempo_stop_header = 10000;
	var autoscroll = {{ autoscroll }};

	// Inizia scrolling
	if (autoscroll == 1)
	{
		setTimeout(
			function()
			{
				ScrollaGiu(tempo_scroll, tempo_stop_header);
			}
			,
			tempo_stop_header
		);
	}
});

function ScrollaGiu(tempo_scroll, tempo_stop_header)
{
	console.log('Scrolla giu');

	$("#BodyTabella").animate(
		{
			scrollTop: $('#BodyTabella')[0].scrollHeight
		},
		tempo_scroll,
		'linear',
		function()
		{
			ScrollaSu(tempo_scroll, tempo_stop_header);
		}
	);
}

function ScrollaSu(tempo_scroll, tempo_stop_header)
{
	console.log('Scrolla su');

	$("#BodyTabella").animate(
		{
			scrollTop: 0
		},
		tempo_scroll,
		'linear',
		function()
		{
			setTimeout(
				function()
				{
					ScrollaGiu(tempo_scroll, tempo_stop_header)
				}
				,
				tempo_stop_header
			);
		}
	);
}

</script>

{% endblock %}
