<div class="row my-3">
    <div class="col-lg-10 m-auto p-5" style="background-color: yellow; border-radius: 5px;">
      <p> Si accettano certificato medico di buona salute per le gare smile swim, super smile swim e relay mentre per la Hard swim è obbligatorio il certificato medico sportivo per idoneità alla pratica agonistica per il nuoto o il triathlon.
        <br>IMPORTANTE: il certificato medico in corso di validità per la gara deve essere insindacabilmente presentato al ritiro del sacco gara secondo i dettami qui riportati, senza non sarà possibile partecipare alle gare.
        <br>Per i Minori di 18 anni obbligatorio caricare autocertificazione sul sito e presentarla il giorno della gara.
      </p>
      <input type="checkbox" name="accetto" required> Accetto
    </div>
</div>



