{% extends "base.html" %}

{% block title %}Login Admin{% endblock %}

{% block body %}

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login Admin</div>
        <div class="card-body">

          <form action="{{AppPath}}AdminAccount/LoginConfirm" method="post">

            <div class="form-group">
              <div class="text-center p-1">Username</div>
              <div class="form-label-group">
                <input type="text" class="form-control" name="Username" placeholder="Username" required="required" autofocus="autofocus">
              </div>
            </div>

            <div class="form-group">
              <div class="text-center p-1">Password</div>
              <div class="form-label-group">
                <input type="password" class="form-control" name="Password" placeholder="Password" required="required">
              </div>
            </div>
            {% if LoginFallito == 1 %}
            	<div class="text-center text-danger p-2">Email o Password non corretti!</div>
            {% endif %}
             <button type="submit" class="btn btn-success btn-block">Login</button>

          </form>

        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}