{% extends "baseProfileAdmin.html" %}

{% block title %}Modifica Evento Individuale{% endblock %}

{% block body %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
	  <a href="#">Gare Individuali</a>
	  <li class="breadcrumb-item active">Modifica Evento</li>
	</li>
</ol>

<div class="container_no_max_width">
    <div class="card mx-auto mt-5">
        <div class="card-header">Modifica Evento</div>
        <div class="card-body">

        	<div class="col-md-12 p-3" id="SpazioNotifica">{% if EventoModificato is defined %}{{ EventoModificato|raw }}{% endif %}</div>

			<form action="{{AppPath}}AdminGareIndividuali/modificaEventoConfirm" method="post">

				<input type="hidden" name="IDEvento" value="{{ Evento.ID }}">

				<div class="form-group row">

					<div class="col-md-4 p-3">
		                <div class="text-center p-1 etichetta">Nome evento<span class="text-danger">*</span></div>
		                <div class="form-label-group">
		                  <input type="text" class="form-control" name="Nome" value="{{ Evento.nome }}" required="required" autofocus="autofocus">
		                </div>
		            </div>

					<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Data apertura iscrizioni <br>(inclusa, ci si può già iscrivere)<span class="text-danger">*</span></div>
						<div class="form-label-group">
							<input  type="text"
							  		class="form-control datepicker"
							  		name="DataAperturaIscrizioni"
							  		value="{% if Evento.data_apertura_iscrizioni != '0000-00-00' %}{{ Evento.data_apertura_iscrizioni|date("d/m/Y") }}{% endif %}"
							  		required="required">
						</div>
					</div>

					<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Data chiusura iscrizioni <br>(inclusa, ci si può ancora iscrivere)<span class="text-danger">*</span></div>
						<div class="form-label-group">
							<input  type="text"
							  		class="form-control datepicker"
							  		name="Data"
							  		value="{% if Evento.data != '0000-00-00' %}{{ Evento.data|date("d/m/Y") }}{% endif %}"
							  		required="required">
						</div>
					</div>

				</div>

				<div class="col-lg-3 m-auto">
	              <button type="submit" name="ConfermaModificaEvento" class="btn button-azzurro btn-block mt-5">Conferma</button>
	            </div>

    		</form>

    	</div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
	$(document).ready(function()
	{
		if ($(window).width() > 768) $('#dropdown_gare_individuali').click();
		$('#menu_lista_eventi_individuali').addClass('active');

		if ( $('#SpazioNotifica').html() != '' ) $('#SpazioNotifica').addClass('ButtonAnimato');
	});
</script>

{% endblock %}
