{% extends "baseProfile.html" %}

{% block title %}Account - Profilo{% endblock %}

{% block body %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
	<li class="breadcrumb-item">
	  	<a href="#">Account</a>
	  	<li class="breadcrumb-item active">Profilo</li>
	</li>
</ol>

<div class="container_no_max_width">
	<div class="card mx-auto mt-5">
		<div class="card-header">Modifica Profilo</div>

		<div class="card-body">

			<div class="col-md-12 p-3">
			  	{% if UtenteModificato is defined %} {{ UtenteModificato|raw }} {% endif %}
			</div>

		  	<form action="{{AppPath}}Account/editProfileConfirm" method="post" enctype="multipart/form-data">

                <input type="hidden" id="anno-data-nascita-massima" value="{{ anno_data_nascita_massima }}">

				<div class="form-group row">

			  		<div class="col-md-6 p-3">
						<div class="form-label-group text-center">
				  			{% if Utente.foto_profilo != '' %}
								<img 
									src="{{AppPath}}{{ Utente.foto_profilo }}" 
									class="foto_profilo rounded-circle" 
									width="200" 
									height="200" 
									alt="foto profilo"
								>
				  			{% else %}
								<img 
									src="{{AppPath}}img/foto_profilo_default.png" 
									class="foto_profilo rounded-circle" 
									width="200" 
									height="200" 
									alt="foto profilo"
								>
				  			{% endif %}
						</div>
			  		</div>

			  		<div class="col-md-6 p-3">

						<div class="col-md-12 p-3 text-center">
				  			<div class="text-center p-1 etichetta">Foto Profilo</div>
				  			<div class="form-label-group">
								<input type="file" class="form-control" name="FileFotoProfilo">
				  			</div>
						</div>

			  		</div>

			  		<div class="col-md-6 p-3">
						<div class="text-center p-1 etichetta">Nome<span class="text-danger">*</span></div>
						<div class="form-label-group">
			  				<input 
			  					type="text" 
			  					class="form-control" 
			  					name="Nome" 
			  					value="{{ Utente.nome }}" 
			  					required="required" 
			  					autofocus="autofocus"
			  				>
						</div>
			  		</div>

			  		<div class="col-md-6 p-3">
						<div class="text-center p-1 etichetta">Cognome<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control" 
				  				name="Cognome" 
				  				value="{{ Utente.cognome }}" 
				  				required="required"
				  			>
						</div>
			  		</div>

				</div>

				<div class="form-group row">

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Email<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="email" 
				  				class="form-control" 
				  				name="Email" 
				  				value="{{ Utente.email }}" 
				  				required="required"
				  			>
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Cambia Password</div>
						<div class="form-label-group">
				  			<input type="password" class="form-control" name="Password">
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Numero di telefono<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="number"
								oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
								onKeyDown="if(this.value.length==10 && event.keyCode!=8) return false;"
								class="form-control"
								name="Telefono"
								value="{{ Utente.telefono }}"
								required="required"
							>
						</div>
			  		</div>

				</div>

				<div class="form-group row">

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Sesso<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<select class="form-control" name="Sesso" required>
								<option value="1" {% if Utente.sesso == 1 %}selected{% endif %}>Maschio</option>
								<option value="2" {% if Utente.sesso == 2 %}selected{% endif %}>Femmina</option>
				  			</select>
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">CAP<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control" 
				  				name="CAP" 
				  				value="{{ Utente.cap }}" 
				  				required="required"
				  			>
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Comune<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control" 
				  				name="Comune" 
				  				value="{{ Utente.comune }}" 
				  				required="required"
				  			>
						</div>
			  		</div>

				</div>

				<div class="form-group row">

			  		<div class="col-md-4 p-3" hidden>
						<div class="text-center p-1 etichetta">Provincia<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control" 
				  				name="Provincia" 
				  				value="{{ Utente.provincia }}"
				  			>
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Provincia<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<select class="form-control" name="IDProvincia" required>
								<option value="">Seleziona Provincia</option>
								{% for provincia in ProvinceItaliane %}
					  				<option value="{{ provincia.ID }}" {% if Utente.PI_ID == provincia.ID %}selected{% endif %}>{{ provincia.nome}}</option>
								{% endfor %}
				  			</select>
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Via<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control" 
				  				name="Via" 
				  				value="{{ Utente.via }}" 
				  				required="required"
				  			>
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Numero civico<span class="text-danger">*</span></div>
						<div class="form-label-group">
					  		<input 
					  			type="text" 
					  			class="form-control" 
					  			name="NumeroCivico" 
					  			value="{{ Utente.numero_civico }}" 
					  			required="required"
					  		>
						</div>
			  		</div>

				</div>

				<div class="form-group row">

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Data di nascita<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control datepicker" 
				  				name="DataNascita"
				  				id="data-nascita"
				  				value="{% if Utente.data_nascita != '0000-00-00' %}{{ Utente.data_nascita|date("d/m/Y") }}{% endif %}" 
				  				required="required"
				  			>
						</div>
                        <div class="form-label-group" id="dichiarazione-iscritto-ha-10-anni" hidden>
                            <input 
                                type="checkbox" 
                                id="dichiarazione-iscritto-ha-10-anni-checkbox" 
                                name="dichiarazione_iscritto_ha_10_anni_checkbox"
                                {% if Utente.dichiarazione_iscritto_ha_10_anni %}
                                    checked
                                {% endif %}
                            >
                            <label class="ml-2">Dichiaro che al momento della gara l'iscritto ha compiuto 10 anni</label>
                        </div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Luogo di nascita<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control" 
				  				name="LuogoNascita" 
				  				value="{{ Utente.luogo_nascita }}" 
				  				required="required"
				  			>
						</div>
			  		</div>

			  		<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Squadra<span class="text-danger">*</span></div>
						<div class="form-label-group">
				  			<select class="form-control" name="IDSquadra" required>
								<option value="0">Nessuna squadra</option>
								{% for squadra in Squadre %}
								  	<option value="{{ squadra.ID }}" {% if squadra.ID == Utente.IDSquadra %} selected {% endif %}>{{ squadra.nome }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="text-center">
							NB se non si ha nessuna squadra scegliere "nessuna squadra"
						</div>
			  		</div>

			  		<div class="col-md-4 p-3" hidden>
						<div class="text-center p-1 etichetta">Gruppo sportivo</div>
						<div class="form-label-group">
				  			<input 
				  				type="text" 
				  				class="form-control" 
				  				name="GruppoSportivo" 
				  				value="{{ Utente.gruppo_sportivo }}"
				  			>
						</div>
			  		</div>

				</div>

				<div class="form-group row">

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Taglia maglietta<span class="text-danger">*</span></div>
						<div class="form-label-group">
					  		<select class="form-control" name="TagliaMaglietta" required>
								<option value="S" {% if Utente.taglia_maglietta == 'S' %}selected{% endif %}>S</option>
								<option value="M" {% if Utente.taglia_maglietta == 'M' %}selected{% endif %}>M</option>
								<option value="L" {% if Utente.taglia_maglietta == 'L' %}selected{% endif %}>L</option>
								<option value="XL" {% if Utente.taglia_maglietta == 'XL' %}selected{% endif %}>XL</option>
								<option value="XXL" {% if Utente.taglia_maglietta == 'XXL' %}selected{% endif %}>XXL</option>
					  		</select>
						</div>
				  	</div>

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Donatore Avis<span class="text-danger">*</span></div>
						<div class="form-label-group">
					  		<select class="form-control" name="DonatoreAvis" required>
								<option value="No" {% if Utente.donatore_avis == 'No' %}selected{% endif %}>No</option>
								<option value="Si" {% if Utente.donatore_avis == 'Si' %}selected{% endif %}>Si</option>
					  		</select>
						</div>
				  	</div>

				</div>

				<div class="form-group row" hidden>

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Certificato</div>
						<div class="form-label-group">
					  		{% if Utente.certificato_file != '' %}
								<a href="{{AppPath}}{{ Utente.certificato_file }}" target="_blank"><div class="text-center"><i class="fa fa-file-pdf fa-2x"></i></div></a>
							{% else %}
								<div class="text-center"><i class="fa fa-file-pdf fa-2x"></i></div>
							{% endif %}
						</div>
				  	</div>

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Scadenza certificato</div>
						<div class="form-label-group">
					  		<input 
					  			type="text" 
					  			class="form-control datepicker" 
					  			name="ScadenzaCertificato" 
					  			value="{% if Utente.certificato_scadenza != '0000-00-00' %}{{ Utente.certificato_scadenza|date("d/m/Y") }}{% endif %}"
					  		>
						</div>
				  	</div>

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">File certificato</div>
						<div class="form-label-group">
					  		<input type="file" class="form-control" name="FileCertificato">
						</div>
				  	</div>

				</div>

				<div class="form-group row">

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Codice fiscale (Se Italiano)<span class="text-danger">*</span></div>
						<div class="form-label-group">
					  		<input 
					  			type="text" 
					  			maxlength="16" 
					  			class="form-control" 
					  			name="CodiceFiscale" 
					  			id="CodiceFiscale" 
					  			value="{{ Utente.codice_fiscale }}"
					  		>
						</div>
				  	</div>

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Paese estero (Se Straniero)<span class="text-danger">*</span></div>
						<div class="form-label-group">
					  		<input 
					  			type="text" 
					  			class="form-control" 
					  			name="PaeseEstero" 
					  			id="PaeseEstero" 
					  			value="{{ Utente.paese_estero }}"
					  		>
						</div>
				  	</div>

				</div>

				<div class="form-group row">

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Credito</div>
						<div class="form-label-group">
						  	<input 
						  		type="number" 
						  		step="0.01" 
						  		min="0.00" 
						  		class="form-control" 
						  		name="Credito" 
						  		value="{{ Utente.credito }}" 
						  		readonly
						  	>
						</div>
				  	</div>

				</div>

				<div class="form-group row">

				  	<div class="col-md-4 m-auto">
						<button type="button" id="espandi_genitore" class="btn sfondo-rosso btn-block espandi_campo">Dati genitore<i class="fa fa-angle-right p-2" aria-hidden="true"></i></button>
				  	</div>

				</div>

				<div class="dati-genitore-nascosti">

				  	<div class="form-group row">

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">Nome e cognome</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="NomeCognomeGenitore" 
									value="{{ Utente.genitore_nome_cognome }}"
								>
					  		</div>
						</div>

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">Data di nascita</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control datepicker" 
									name="DataNascitaGenitore"
						  			value="{% if Utente.genitore_data_nascita != '0000-00-00' %}{{ Utente.genitore_data_nascita|date("d/m/Y") }}{% endif %}"
						  		>
					  		</div>
						</div>

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">Luogo di nascita</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="LuogoNascitaGenitore" 
									value="{{ Utente.genitore_luogo_nascita }}"
								>
					  		</div>
						</div>

				  	</div>

				  	<div class="form-group row">

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">Email</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="EmailGenitore" 
									value="{{ Utente.genitore_email }}"
								>
					  		</div>
						</div>

						<div class="col-md-4 p-3">
							<div class="text-center p-1 etichetta">Telefono</div>
							<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="TelefonoGenitore" 
									value="{{ Utente.genitore_telefono }}"
								>
					  		</div>
						</div>

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">CAP</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="CAPGenitore" 
									value="{{ Utente.genitore_cap }}"
								>
					  		</div>
						</div>

				  	</div>

				  	<div class="form-group row">

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">Comune</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="ComuneGenitore" 
									value="{{ Utente.genitore_comune }}"
								>
					  		</div>
						</div>

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">Provincia</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="ProvinciaGenitore" 
									value="{{ Utente.genitore_provincia }}"
								>
					  		</div>
						</div>

						<div class="col-md-4 p-3">
							<div class="text-center p-1 etichetta">Via</div>
							<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="ViaGenitore" 
									value="{{ Utente.genitore_via }}"
								>
					  		</div>
						</div>

				  	</div>

				  	<div class="form-group row">

						<div class="col-md-4 p-3">
							<div class="text-center p-1 etichetta">Numero civico</div>
							<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="NumeroCivicoGenitore" 
									value="{{ Utente.genitore_numero_civico }}"
								>
					  		</div>
						</div>

						<div class="col-md-4 p-3">
					  		<div class="text-center p-1 etichetta">Rappresentante legale</div>
					  		<div class="form-label-group">
								<input 
									type="text" 
									class="form-control" 
									name="RappresentanteLegaleGenitore" 
									value="{{ Utente.genitore_rapp_legale }}"
								>
					  		</div>
						</div>
				  	</div>
				</div>
				
				<div class="form-group row">

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Download Autocertificazione minori 18 anni da compilare</div>
						<div class="form-label-group">
							<a href="{{ URL_AUTOCERTIFICAZIONE_MINORI_18_ANNI }}" target="_blank">
						  		<div class="text-center">
									<i class="fa fa-file-pdf fa-2x"></i>
						  		</div>
							</a>
						</div>
				  	</div>

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Carica autocertificazione minori 18 anni compilata</div>
						<div class="form-label-group">
					  		<input type="file" class="form-control" name="FileAutocertificazioneMinori18Anni">
						</div>
				  	</div>

				  	<div class="col-md-4 p-3">
						<div class="text-center p-1 etichetta">Visualizza Autocertificazione  minori 18 anni caricata</div>
						<div class="form-label-group">
					  		{% if Utente.autocertificazione_minori_18_anni_file != '' %}
								<a href="{{AppPath}}{{ Utente.autocertificazione_minori_18_anni_file }}" target="_blank">
						  			<div class="text-center"><i class="fa fa-file-pdf fa-2x"></i></div>
						  		</a>
					  		{% else %}
								<div class="text-center"><i class="fa fa-file-pdf fa-2x"></i></div>
					  		{% endif %}
						</div>
				  	</div>

				</div>

				{% embed "Templates/Informativa.html" %}{% endembed %}

				<div class="col-lg-12 my-5 text-center" id="ErroreForm"></div>

				<div class="col-lg-3 m-auto">
					<button type="button" id="ConfermaButton" class="btn button-azzurro btn-block mt-5">Salva e conferma dati</button>
					<button type="submit" id="ConfermaSubmit" class="btn button-azzurro btn-block mt-5" hidden>Conferma</button>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
	$(document).ready(function()
	{
		if ($(window).width() > 768) $('#dropdown_account').click();
	});
</script>

<script type="text/javascript">
  	$(document).ready(function()
  	{
		// Mostra/Nascondi genitore
	  	var espandi_genitore_flag = 0;
	  	$('.dati-genitore-nascosti').slideUp(0);

	  	$(document).on('click', '#espandi_genitore', function()
	  	{
			if (espandi_genitore_flag == 0)
		  	{
				$('.dati-genitore-nascosti').slideDown('slow');
				$('.espandi_campo i').removeClass('flip0').toggleClass('flip90');
				espandi_genitore_flag = 1;
		  	}
		  	else
		  	{
				$('.dati-genitore-nascosti').slideUp('slow');
				$('.espandi_campo i').removeClass('flip90').toggleClass('flip0');
				espandi_genitore_flag = 0;
		  	}
	  	});
  	});
</script>

<script src="{{AppPath}}js/account/validazione_form.js?v=1.000002'"></script>

{% endblock %}
