{% extends "base.html" %}

{% block title %}Recupero Password{% endblock %}

{% block body %}

<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Recupero Password</div>
    <div class="card-body">

      <form action="{{AppPath}}Account/ForgotPasswordConfirm" method="post">

        <div class="form-group">
          <div class="text-center p-1">Email</div>
          <div class="form-label-group">
            <input type="email" class="form-control" name="Email" placeholder="Email" required="required" autofocus="autofocus">
          </div>
        </div>

        {% if LoginFallito == 1 %}
          <div class="text-center text-danger p-2">Email o Password non corretti!</div>
        {% endif %}
         <button type="submit" class="btn btn-success btn-block">Recupera</button>

      </form>

      <div class="text-center">
        <a class="d-block small mt-3" href="{{AppPath}}Account/Login">Login</a>
        <a class="d-block small mt-3" href="{{AppPath}}Account/Register">Registrati</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}{% endblock %}