{% extends "base.html" %}

{% block title %}Reimposta Password{% endblock %}

{% block body %}

<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Reimposta Password</div>
    <div class="card-body">

      {% if SuccessoResetPassword == 1 %}
        <div class="text-center text-success p-2">{{ EsitoResetPassword }}</div>
      {% else %}
        <div class="text-center text-danger p-2">{{ EsitoResetPassword }}</div>
      {% endif %}

      <div class="text-center">
        <a class="d-block small mt-3" href="{{AppPath}}Account/Login">Login</a>
        <a class="d-block small mt-3" href="{{AppPath}}Account/Register">Registrati</a>
        <a class="d-block small mt-3" href="{{AppPath}}Account/ForgotPassword">Recupera Password</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}{% endblock %}