<!DOCTYPE html>
<html lang="en">

{% set AppPath= URL_TO_PUBLIC_FOLDER %}

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS-->
    <link href="{{AppPath}}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{AppPath}}vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{{AppPath}}css/sb-admin.css" rel="stylesheet">

    <!-- Personale-->
    <link href="{{AppPath}}css/style.css?v=1.005" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-48105308-26"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-48105308-26');
    </script>
    
    <!-- Meta Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '743734804018444');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=743734804018444&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Meta Pixel Code -->

  </head>

  <body >

    {% block body %}
    {% endblock %}

  <!-- Bootstrap core JavaScript-->
    <script src="{{AppPath}}vendor/jquery/jquery.min.js"></script>
    <script src="{{AppPath}}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{AppPath}}vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{{AppPath}}vendor/chart.js/Chart.min.js"></script>
    <script src="{{AppPath}}vendor/datatables/jquery.dataTables.js"></script>
    <script src="{{AppPath}}vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{AppPath}}js/sb-admin.min.js"></script>

    <!-- Datepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css"/>

    {% block scripts %}
    {% endblock %}

  </body>

</html>
