<div class="row my-3">
    <div class="col-lg-10 m-auto p-5" style="background-color: yellow; border-radius: 5px;">
      <p> Si accettano certificato medico di buona saluta per le gare smile swim e relay mentre per la Hard swim è obbligatorio il certificato medico sportivo per idoneità alla pratica agonistica per il nuoto o il triathlon.
        <br>IMPORTANTE: il certificato medico in corso di validità per la gara deve essere insindacabilmente presentato al ritiro del sacco gara secondo i dettami qui riportati, senza non sarà possibile partecipare alle gare.
        <br>NB tutti gli atleti stranieri sono invitati ad inviare precedentemente via mail ad info@italianopenwatertour.com il proprio certificato per verificare che sia conforme a quanto richiesto.
        <br>
        Per l'iscrizione alla <strong>ALL YOU NEED IS SWIM</strong> stai autocertificando sotto la tua totale responsabilità  di essere abile nuotatore e fisicamente idoneo alla partecipazione dell'evento come da comma 3 del regolamento
      </p>
      <input type="checkbox" name="accetto" required> Accetto
    </div>
</div>